@media html {
  font-size: calc(1em + 1vw);
}
body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: white;

}

h1{
  margin-top: 65px;
}

#container{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

img{
  max-width: 70%;
}
